main{
  width: 80%;
  margin: auto;
  font-size: 1rem;
}

body{
  --backgroundColor: #17171f;
  --textColor: #949297;
  --borderColor: #79787a;
  --taskBackground:#21212d;
  --underTitleColor:rgba(121, 121, 121, 0.7);
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

body.dark{
  --backgroundColor: white;
  --textColor: black;
  --borderColor: #79787a;
  --taskBackground: lightgrey;
  --underTitleColor:rgba(121, 121, 121, 0.7);
}

h1{
  border-bottom: 1px var(--underTitleColor) solid;
  padding-bottom: 1rem;
  text-align: center;
}

#addTask, .task{
  border-radius: 5px;
  line-height: 2rem;
  padding: 0.5rem;
}

.task{
  list-style: none;
  background-color: var(--taskBackground);
  margin: 0.5rem 0;
}

#taskForm{
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}

#addTask{
  border: 1px var(--borderColor) solid;
  background-color: var(--backgroundColor);
  margin: 1rem auto;
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  color: var(--textColor);
  font-size: 1.25rem;
  line-height: 2.25rem;
  width: 80%;
}

#taskForm > input[type="submit"]{
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  border: none;
  background-color: var(--backgroundColor);
  background-image: url(../public/assets/images/plus.svg);
  background-size: 3rem;
  transform: translateY(25%);
}

.done, .delete{
  cursor: pointer;
}

.checked{
  text-decoration-line: line-through;
}

.done{
  border: none;
  height: 1rem;
  width: 1rem;
  vertical-align: -0.1rem;
}

.delete{
  float: right;
  margin: 0.5rem 0.5rem 0 0;
  height: 1rem;
  width: 1rem;
  background-color: var(--textColor);
  border: none;
  border-radius: 100%;
  background-image: url(../public/assets/images/remove.svg);
  background-size: cover;
}